body {
    font-family: 'Monaco', Monaco, monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 860px; /* Added px unit */
    padding: 10px;
    margin: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 560px;
    position: relative;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 35px;
    color: #333;
    align-self:center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.form-container input[type="submit"], .form-container button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
}

.form-container input[type="submit"]:hover, .form-container button:hover {
    background-color: #555;
}

.form-container input[type="submit"] {
    bottom: 10px;
    left: 10px;
}

.form-container button {
    bottom: 10px;
    right: 10px;
}

.form-container input[type="text"], .form-container input[type="number"] {
    width: 100%; /* Make the input boxes take full width */
    padding: 15px; /* Increase padding for a bigger input box */
    font-size: 18px; /* Increase font size */
    border: 2px solid #3498db; /* Border color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default outline */
    background-color: #f9f9f9; /* Background color */
    color: #333; /* Text color */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for border and shadow */
    margin-bottom: 15px; /* Space between input boxes */
}

.form-container input[type="text"]:hover, .form-container input[type="number"]:hover {
    border-color: #2ecc71; /* Change border color on hover */
}

.form-container input[type="text"]:focus, .form-container input[type="number"]:focus {
    border-color: #2ecc71; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.8); /* Add shadow on focus */
}

.form-container input[type="text"]::placeholder, .form-container input[type="number"]::placeholder {
    color: #aaa; /* Placeholder text color */
    font-style: italic; /* Placeholder text style */
}