.container {
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

.table-container {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.percentage {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #01a43d;
}