<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="topnav">
        <a class="Index" href="/">Enter parameters</a>
        <a href="Home">Home</a>
        <a href="Table">History</a>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        <p class="copyright">© 2025 Самоковските Каубойци Ltd.</p>
        <p>About us</p>
        <p>Terms and conditions</p>
        <p>Privacy policy</p>
    </div>

</body>
</html>