{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<div class="form-container">
<div class="countdown-container">
<h1>Shift your posture countdown:</h1>
<p id="first_countdown"></p>
<script>
    var time = {{ minutes_to_shift_posture }} * 60;
    // Update the count down every 1 second
    var x = setInterval(function() {
      // Find the distance between now and the count down date
     
      
      // Time calculations for days, hours, minutes and seconds
      var hours = Math.floor(time/3600);
      var minutes = Math.floor((time%3600)/60);
      var seconds = Math.floor((time%3600)%60);
      console.log(seconds)
      console.log(minutes)
      console.log(hours)
      // Display the result in the element with id="first_countdown"
      // if(seconds < 10){
      //   document.getElementById("first_countdown").innerHTML = hours + ":" 
      // + minutes + ":" + "0" + seconds;
      // }
      // if(minutes < 10){
      //   document.getElementById("first_countdown").innerHTML = hours + ":" + "0"
      // + minutes + ":" + seconds;
      // }
      // if(seconds < 10 && minutes <10){
      //   document.getElementById("first_countdown").innerHTML = hours + ":" + "0"
      // + minutes + ":" + "0" + seconds;
      // }
      //document.getElementById("first_countdown").innerHTML = hours + ":"
      //+ minutes + ":"+ seconds;
      var formattedTime = hours + ":" + (minutes < 10 ? "0" : "") + minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

      document.getElementById("first_countdown").innerHTML = formattedTime;

      time = time - 1
      // If the count down is finished, write some text
      if (time < 0) {
        clearInterval(x);
        document.getElementById("first_countdown").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>
    <h1>Stand up and move around countdown:</h1>
    <p id="second_countdown"></p>
    <script>
      var time1 = {{ minutes_to_move_around }} * 60;
      // Update the count down every 1 second
      var x1 = setInterval(function() {
        // Find the distance between now and the count down date
        
        // Time calculations for days, hours, minutes and seconds
        var hours1 = Math.floor(time1/3600);
        var minutes1 = Math.floor((time1%3600)/60);
        var seconds1 = Math.floor((time1%3600)%60);
        // Display the result in the element with id="demo"
        // if(seconds1 < 10){
        //   document.getElementById("second_countdown").innerHTML = hours1 + ":" + minutes1 + ":" + "0" + seconds1;
        // }
        // if(minutes1 < 10){
        //   document.getElementById("second_countdown").innerHTML = hours1 + ":" + "0" + minutes1 + ":"  + seconds1;
        // }
        // if(seconds1 < 10 && minutes1 <10){
        //   document.getElementById("second_countdown").innerHTML = hours1 + ":" + "0" + minutes1 + ":" + "0" + seconds1;
        // }
        //document.getElementById("second_countdown").innerHTML = hours1 + ":" + minutes1 + ":" + seconds1;
        var formattedTime1 = hours1 + ":" + (minutes1 < 10 ? "0" : "") + minutes1 + ":" + (seconds1 < 10 ? "0" : "") + seconds1;

        document.getElementById("second_countdown").innerHTML = formattedTime1;
        
        time1 = time1 - 1
        // If the count down is finished, write some text
        if (time1 < 0) {
          clearInterval(x1);
          document.getElementById("second_countdown").innerHTML = "EXPIRED";
        }
      }, 1000);
    </script>
 </div>

 <div class="image-container">
   <img src="{{ url_for('static', filename='posture_images/GoodPostureBadNeckModified.png') }}" alt="Image">
 </div>

 <div class="weight-container">
   <div class="weight-display">Minimum kilograms for sensitivity:<br> <span class="weight-value">{{minimum_weight}}</span></div>
   <div class="weight-display">Currently kilograms sensed: <br> <span class="weight-value">{{current_weight}}</span></div>
 </div>
</div>
{% endblock %}