{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<div class="form-container">
    <h1>Enter Time</h1>
    <form method = 'Post'>
        {{ form.csrf_token}}
        <label for="minutes">Set Minutes to shift around:</label>
        {{ form.minutes(value = session_minutes1) }}
        <label for="minutes">Set Minutes to stand up and move around:</label>
        {{ secondform.minutes2(value = session_minutes2) }}
        <label for="minutes">Set minimum weight for chair sensitivity:</label>
        {{ Weight.kilograms(value = current_weight) }}<br>
        Calibrate?{{calibrating.bool(default = 'checked')}}<br>
        {{ form.Submit }} 
        <a href = "default">
        <button type="button">Reset to Default</button>
        </a>
    </form>
</div>
{% endblock %}