{% extends "base.html" %}

{% block title %}Table{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
</head>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>DAYS</th>
      {% for i in range(0, 7) %}
      <th>{{ i + 8 }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for i in range(1, 25) %}
    <tr>
      <td>{{ i }}</td>
      {% for j in range(0, 7) %}
      <td>
        <img src="{{ url_for('static', filename='posture_images/good_posture.png') }}" width="50" height="50" alt="Image">
        <span class="percentage"></span>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const percentages = document.querySelectorAll('.percentage');
    percentages.forEach(function(percentage) {
      const randomPercentage = Math.floor(Math.random() * 101); // Generate random number between 0 and 100
      percentage.textContent = randomPercentage + '%';
    });
  });
</script>
{% endblock %}